@import "~antd/dist/antd.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-hero-container {
  /* config */
  background: url("./Media/img/TempHero.jpg") no-repeat center top/cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.nav-hero-container::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.nav {
  opacity: 0.9;
  position: fixed;
  transition: 0.3s ease-in;
  border: none;
  /* config */
  background: #293477;
}
.nav.top {
  background: transparent !important;
}
.nav-item {
  background-color: transparent;
  font-weight: 500;
}
.nav-label {
  font-size: large;
  font-weight: 500;
  /* config */
  color: #fff !important;
}
.hero {
  background-color: transparent;
  margin-top: 63px;
}
.hero-col {
  text-align: center;
  align-self: center;
}
